.footer-container {
  position: relative;
  bottom: auto;
  width: 100vw;
  color: white;
  padding: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
   
  text-align: center;
  background-image: linear-gradient(
    rgba(21, 28, 58, 0.88),
    rgba(21, 28, 58, 0.88)
  ),
  url("https://i.imgur.com/XJRe1Bg.jpg");
  .title {
    font-weight: 700;
  }
}
