.order-detail-container{
    display: flex;
    flex-direction: column;
    padding: 10px;

        .order-detail{
            display: flex;
            justify-content: space-between;
            padding: 15px 10px;
            // border: solid black 1px;
            flex-direction: row;
            align-self: center;
            width: 80vw;

                .order-detail-text{
                    display: flex;
                    flex-direction: column;
                    // margin: 0 15px;
                    font-size: 18px;                    
                    text-align: start;
                    // border: solid blue 1px;
                    box-shadow: 0px 2px 3px rgba(70, 67, 67, 0.2);                     
                    width: 30%;

                        .order-detail-text-header{
                            font-weight: 500;  
                            padding: 5px ;                          
                        }
                        .order-detail-text-value{
                            color: orange;
                            font-weight: 500;
                            padding: 5px ;   
                            
                        }

                    @media screen and (max-width: 800px) {
                        width: 90%;
                        margin: 5px 0;
                    }

                }                
                

                

            @media screen and (max-width: 800px) {
                flex-direction: column;
                
               
            }
            
        }

        .order-detail-input-container{
            display: flex;  
            flex-direction: column;             
            width: 80vw;
            align-self: center;
            box-shadow: 0px 0px 5px rgba(70, 67, 67, 0.4);
            margin: 20px 0; 

                label{
                    display: block;  
                    display: flex;
                    flex-direction: row;                      
                    align-self: center;  
                    width: 60%;                      
                    
                        .label-name{
                            margin-top: 35px;
                            margin-bottom: 0;
                            font-weight: 500;
                            font-size: 19px;
                            margin-right: 20px; 
                            margin-bottom: 10px;
                            
                        }


                    @media screen and (max-width: 800px) {                                       
                        width: 90%; 
                        font-size: 12px;           
                    }
                
                }

                input, select {
                    width:  80%;
                    border: none;
                    padding-top: 10px;
                    // margin-right: 30px;        
                    color: orange;
                    border-bottom: solid lightblue 3px;
                    font-size: 16px;
                    margin-top: 20px;   
                    font-family: Verdana, Geneva, Tahoma, sans-serif;   
                    align-self: center;              

                    &:focus {
                        outline: none;
                        border-bottom: solid lightblue 2px;
                    }
                    
                }

                #update-order-btn{
                    font-size: 14px; 
                    height: 35px;
                    align-self: center;
                    background-color: rgb(240, 172, 26);
                    color: white;
                    border:  rgb(240, 172, 26);
                    border-radius: 3px;
                    outline: none;
                    cursor: pointer;
                    font-family: 'Verdana';
                    margin: 30px 10px;
                  }
        }

       

        .order-product-wrapper{
            display: flex;  
            flex-direction: column;          
            // border: rgb(163, 154, 34) solid 1px;
            width: 80vw;
            align-self: center;
            >h2{text-align: start;}
            

                .order-detail-product{
                    height: 250px;
                    width: 60%;
                    display: flex;
                    margin: 15px 0;
                    box-shadow: 1px 0px 3px rgba(70, 67, 67, 0.2); 
                    
                        .order-product-background-image{
                            height: 100%;
                            width: 60%;
                            
                            background-size: contain;
                            background-position: center;
                            background-repeat: no-repeat;
                            background-color: whitesmoke;
                            // border: orange solid 1px;

                            @media screen and (max-width: 800px) {                                       
                            width: 100%;            
                            }
        
                        }
        
                        .order-product-description{
                            display: flex;
                            flex-direction:  column;
                            justify-content: center;
                            width: 40%;
                            height: 100%;
                            color:grey;
                            font-weight: 500;
                            text-align: start;
                            padding: 5px;
                            font-size: 17px;
                            // border: rgb(63, 31, 19) solid 1px;

                            @media screen and (max-width: 800px) {                                       
                                width: 100%;            
                            }
                            
                        }

                    @media screen and (max-width: 800px) { 
                        flex-direction: column;        
                        width: 90%;  
                        height: 300px;             
            
            
                    }
                }

                

            @media screen and (max-width: 800px) {                        
                
                
            }
        }
        

    @media screen and (max-width: 800px) {
        display: flex;
        flex-direction: column;
        padding: 10px;
    }
}