
.header {
  display: flex;
  justify-content: space-between;
  height: 100px; 
  background-color: rgb(83, 1, 1);
  // margin-bottom: 10px;

      .logo-container {
        height: 90px;
        width: 15%;
        padding-top: 10px;
        // border: black solid 1px;
        display: flex;
        justify-content: center;

            .logo {
              width: 50%;
              height: 90px;
              align-self: center;
              border-radius: 50%;
              border:rgb(83, 1, 1);
              // font-size: 37px;
                      

              @media screen and (max-width: 800px) {
                height: 80px;
                width: 70%;
              }
            }
      @media screen and (max-width: 800px) {
        height: 80px;
        width: 30%;
      }  
        
      }

      .sub-header {
        // background-color: violet;
        width: 70%;
        display: flex;
        flex-direction: column;

                .no-options{
                  display: flex;
                  // background-color: yellowgreen;
                  justify-content: flex-end;

                  .welcome {
                    margin-right: 129px;                    
                    color: rgb(32, 190, 58);
                    .header-profile-container{
                      display: flex;
                      align-items: center;
                        #header-profile-link{
                          font-family:Verdana, Geneva, Tahoma, sans-serif;
                          font-size:15px;
                          font-weight: 600;
                          color: rgb(145, 255, 19);
                          @media screen and (max-width: 800px) { 
                            font-size: 11px;                            
                          }
                        }

                    }
                    @media screen and (max-width: 800px) {                                           
                      margin-right: 60px;
                    }
                  }
                }

                .options {      
                  flex-direction: row;
                  display: flex;
                  justify-content: flex-end;
                  align-items: center;                  
                  // border: black solid 1.2px;        
                        
                        

                  @media screen and (max-width: 800px) {
                    //options
                    
                  }
          
              
          
              @media screen and (max-width: 800px) {
                margin-right: 7px;
                margin-top: 15px;
              }
            }

        @media screen and (max-width: 800px) {
          //subheader
        }
        
      }

   box-shadow: 0px 2px 3px rgba(63, 46, 46, 0.2);

  
}
